<!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>
<body>
	{{>header}}
	<p>You might not believe it at first, but it's important to understand.</p>
	<p>This is the greatest.</p>	
	<button>Yes</button>
</body>

{{> footer}}
</html>