<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	{{>header}}
	<p>{{welcomeMsg}}</p>
	<p>This is the greatest.</p>	
	<ul>
		<li><a href="/about">About</a></li>
		<li><a href="/projects">Projects</a></li>
	</ul>


</body>

{{>footer}}

</html>	