<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	{{>header}}

	<p>Projects go here {{name}}</p>
	<img url="http://i0.kym-cdn.com/entries/icons/original/000/005/498/1300044776986.jpg">
</body>

{{>footer}}

</html>	